<div class="row outerRow">
  <!--  <div class="col-xs-1 offset-1">-->
  <!--    <label for="dropdownManual">Route</label>-->
  <!--  </div>-->
  <div class="col-xs-4 offset-1">
    <div #dropRoute="ngbDropdown" ngbDropdown>
      <button (click)="dropRoute.toggle()" class="btn btn-outline-primary mr-2" id="dropdownManual"
              ngbDropdownAnchor>{{RouteNumber}}</button>
      <div aria-labelledby="dropdownManual" ngbDropdownMenu style="width: 40vh;">
        <div *ngFor="let route1 of routes$|async;let outerIndex=index;">
          <div *ngIf="(outerIndex)%10===0" style="float:left;">

            <div (click)="routeLink.click()"
                 *ngFor="let route of routes$|async|slice:outerIndex:outerIndex+10;let i=index;" ngbDropdownItem>
              <a #routeLink
                 routerLink="/Route/{{route.Number}}">{{ route.Number }} </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



