<ngx-spinner bdColor="#f68f6f" color="#edb948" type="cog" ></ngx-spinner>
<div class="container" style="padding-left: 0; padding-right: 0;">
  <router-outlet></router-outlet>
</div>

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <base href="/">-->
<!--  <meta charset="utf-8">-->
<!--  <title>{{title}}</title>-->

<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  &lt;!&ndash;  <link rel="icon" type="image/x-icon" href="favicon.ico">&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->
